<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
 
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <script type="text/javascript" src="{% static 'js/slick/slick.min.js' %}"></script>

    <title>Give Me a Movie !</title>
</head>
<body>

{% block navBar %}
{% include 'navBar.html' %}
{% endblock %}

{%block content%}
<noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
<script type="text/javascript" src="{% static 'main.e5cef8c8.js' %}"></script>

{%endblock%}



</body>
</html>