{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profilAndPassword.css' %}">
    <link href="{% static 'BalooBhai.css' %}" rel="stylesheet" />
    <div class="container">
        <div class="row profil">

            <div class="col"></div>
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        <h3>Editer vos informations</h3>

                    </div>
                    <div class="card-body">
                        {% if messages %}

                            <div class="alert alert-danger" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form method="POST">{% csrf_token %}
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>

                                {{ form.username }}

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>

                                {{ form.email }}

                            </div>

                            <div class="d-flex justify-content-center links"><a href="{% url 'profil-password' %}">
                                Modifier votre mot de passe</a></div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center links">
                                    <button type="submit" class="btn btn-warning">Sauvegarder</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}